body{
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width:100vw;
    height:100vh;
}

#playbutton{
    width:200px;
    height:100px;
    
    
    position:relative;
    left:100px;
    top:250px;
    
    
    border-radius: 5px;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
#titleDiv{
    background-color: rgb(103, 183, 253);
    width:100%;
    height:220px
}
#footer{
    color:white;
    position:relative;

    bottom:0px;
}
div{
    border: 1px solid red;
}