body{
    background-image: url("sherwoodSign.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    margin: 0;
    width:100vw;
    height:100vh;
}






#playbutton{
    width:150px;
    height:50px;
    
    
    position:relative;
    left:15vw;
    top:60vh;
    background-color: black;
    color:rgb(235,224,215);
    border:solid;
    box-shadow: 3px 3px ;
    
    

    /*rgb(235,224,215)*/
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    transition: background-color 0.5s,color 0.5s;
    
    
}
#playbutton:hover{
    background-color:rgb(235,224,215);
    color:black;
    cursor: pointer;

}
    

/*
#titleDiv{
    background-color: rgb(103, 183, 253);
    width:100%;
    height:220px
}
#footer{
    color:white;
    position:relative;

    bottom:0px;
}
div{
    border: 1px solid red;
}
    */